<div class="d-flex flex-row justify-content-around bg-danger">

  <div class="">
    <%= link_to root_path do %>
      <h5 class=""> Philosopher <span class="">&#183;</span></h5>
    <% end %>    
  </div>

  <div class="d-flex flex-row justify-content-between">
    <p>Home</p>
    <p>Metaphysics</p>
    <p>Gnoseology</p>
    <p>Ethics</p>
    <p>Aesthetics</p>
  </div>

  <div class="d-flex flex-row">

    <% if current_user %>

      <p class="">        
        <%= link_to logged_in_user , class:"" %>
      </p> 
    
      <p class="">
        <%= link_to new_article_path, class:"" do %>
        "Create Article"
      <% end%>
      </p>

      <p class="">
        <%= link_to "Sign Out", session_path(session[:user_id]), method: :delete, class:"" %>
      </p>


    <% else%> 

      <p class="">
        <%= link_to "Sign In", signin_path, class:"" %>
      </p>

      <p class="">
        <%= link_to 'Sign Up', new_user_path, class: "" %>
      </p>

    <%end%>
  </div>    
  
</div>
