<div class="d-flex flex-row justify-content-center">
  <% popular = Vote.popular %>
  <% popular.each do |vote| %>
    <div class="">
        <div>
        <%= image_tag(vote.article.image, height: 400, width: 1100) if vote.article.image.attached? %>
        </div>
        <div>
          <h5 class="txt-orange"><%= vote.article.title %></h5>
          <p><%= vote.article.text %>
          <p><%= link_to 'Read more', article_path(vote.article), class: "small-anchor" %></p>
        </div>
      </div>
    </div>
  <%end%>
</div>


<div class="cont2-ind">
  <div class="d-flex flex-row justify-content-around border-top">
      <%= render @categories %>
      <%# link_to @category.most_recent_article %> 
  </div>
</div>

