<div class="d-flex flex-row justify-content-center">
  <% popular = Vote.popular %>
  <% popular.each do |vote| %>
    <div class="">
        <div>
        <%= image_tag(vote.article.image) if vote.article.image.attached? %>
        </div>
        <div>
          <h5 class="txt-orange"><%= vote.article.title %></h5>
          <p><%= vote.article.text %>
          <p><%= link_to 'Read more', article_path(vote.article), class: "small-anchor" %></p>
        </div>
      </div>
    </div>
  <%end%>
</div>


<div class="cont2-ind">
  
  <div class="d-flex flex-row justify-content-around border-top">
  <% @categories.each do |category|%>

    <div class="mt-3">
      <h6 class=""><%= link_to category.name, category %></h6>
      <%= link_to category.most_recent_article.title, article_path(category.most_recent_article) %>
    </div>
  <% end %>
</div>

