<div class="">
  <div class="">
    <div class="">
      <h3>New Category</h3>
      <%= form_with model: @category do |form| %>
        <div">
          <%= form.label :name, "Category:" %>
          <br />
          <%= form.text_field :name, placeholder: "Enter category"%>
          <br /><br />
          <%= form.label :priority, "Priority:" %>
          <br />
          <%= form.text_field :priority, placeholder: "Enter priority number"%>
          <br /><br />
        </div>
        <div class="">
          <div class="">
            <%= form.submit "Submit", class: "" %>
          </div>
          <div class="">
            <%= link_to 'Back', new_article_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

